//Bulma custom variables
$navbar-height: 2.5rem;
$primary: hsl(13, 100%, 57%);
$link: hsl(245, 82%, 25%);
$subActive: hsl(19, 17%, 78%);

//JSS Grey #D0C3BD
body{
    background-color: white;
    border-top: 2px solid white;
    overflow: auto !important;
}
//External imports
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import "bulma";
@import './custum.scss';


*{
    overflow: hidden !important;
}

